<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login - Controle de Despesa</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>

    <link rel="stylesheet" href="app/style/css/style.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>

    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>


    <script src="app/controle_despesas.module.js"></script>
    <script src="app/controle_despesas_config.js"></script>

    <script src="app/views/app-login/login-controller.js"></script>
    <!--<script src="login-service.js"></script>-->

    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

</head>

<body ng-app="controleDespesa">
    <div ng-controller="LoginController as vm"
         layout="column" layout-align="center center"
         layout-fill="layout-fill">

        <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Acesso</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" ng-model="username"/>
                </md-input-container>
                <md-input-container>
                    <label>Senha</label>
                    <input type="password" ng-model="password"/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary">Login</md-button>
                    <div flex="flex"></div>
                    <md-button href="" md-no-ink="md-no-ink">Lembrar Senha</md-button>
                </div>
            </md-content>
        </div>

        <!--<footer class="footer_login">
            <a href="http://www.polymer-project.org/" target="_blank">
                <img src="https://www.polymer-project.org/images/logos/p-logo.svg">
            </a>
            <p>You Gotta Love <a href="http://www.polymer-project.org/" target="_blank">Google</a></p>
        </footer>-->

    </div>
</body>
</html>
