<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login - Controle de Despesa</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="LoginController as vm">

<div class="login">
    <h1>Login</h1>

    <form method="post" ng-submit="vm.logar()">
        <input type="text" name="u" placeholder="Username" ng-required="true"/>
        <input type="password" name="p" placeholder="Password" ng-required="true"/>
        <button type="submit" class="btn btn-primary btn-block btn-large" ng-click="vm.logar()">Logar</button>
    </form>
</div>
</body>
</html>
