body {
	background-color: #eeeeee;
}

.container{
	height: 100%;
	background-color: #eeeeee;
}

.loginBox {
	max-width:  90%;
	width: 500px;
}

/** ****************************************************************************** **/

/* centered columns styles */
.row-centered {
	text-align:center;
}